

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=M+PLUS+Rounded+1c&family=Nanum+Gothic+Coding&display=swap');



.navbar-brand{
  
    font-family: "Nanum Gothic Coding", monospace;
    letter-spacing: 3px;
    font-weight: 600;
  
}
nav{
   
  
    position: fixed;


}
nav ul li {
display: inline-block;
list-style: none;
padding: 0 10px;
margin: 0 20px;
cursor: pointer;
position: relative;


}
nav ul li:after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    color: black;
    transition: 0.5s;
}
nav ul li:hover::after{
    width:100%;
}
button{
    background: none;
    color: white;
    border-color: white;

}
h2{
    font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
h3{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

@media (max-width: 800px) {
      .heading h2{
     font-size:10px;
    }
    .heading h3{
        font-size: 8px;
    }
    .btn1 {
       position: relative;
       
        font-size: 7px;
    }
    .about-h1{
      font-size: 5px;
    }
    .about-p{
      font-size: 3px;
    }
    .image-about{
      width: 100%;
      margin-right: 100px;

    }
    .heading-2{
      font-size: 15px;
    }
    .para-2{
      font-size: 13px;
    }

    
  }
    .md-form {
      position: relative;
      margin-bottom: 1.5rem;
      /* Adjust the spacing as needed */
    }
  
    .md-form .prefix {
      position: absolute;
      left: 1rem;
      /* Adjust the position of the icon */
      top: 10px;
      /* Adjust the position of the icon */
    }
  
    .md-form .form-control {
      padding-left: 3rem;
      /* Adjust the padding for the input box */
    }
  
    .modal-footer {
      border: none;
    }
  
    .modal-header {
      border: none;
    }
  
    .md-form .form-control {
      border: none;
      border-bottom: 1px solid;
    }
  

/* .image{
  height: 300px;
  width:250px
  

} */
/* img{
  margin-top: 10px;
  margin-bottom: 10px;

/*  */
.about:hover{
  transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-about
{
  font-family: 'Montserrat', sans-serif; 
    height: 350px; 
    width: 75%; 
    margin-top: 15px; 
    margin-left: 50px; 
    margin-bottom: 15px
}
.fixed-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.fixed-btn:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .fixed-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index:1 !important;
         }
    